/* line 1, C:/xampp/htdocs/wp_robert/wp-content/themes/robert-v51-theme/css/estilo.scss */
#main p {
  color: #00ff00;
  width: 97%; }
  /* line 5, C:/xampp/htdocs/wp_robert/wp-content/themes/robert-v51-theme/css/estilo.scss */
  #main p .redbox {
    background-color: #ff0000;
    color: #000; }

/*# sourceMappingURL=estilo.css.map */