/*!GENERAL STYLE */

@import '../less/lesshat.less';

/* WordPress Core
-------------------------------------------------------------- */

@import '../less/wordpress-core.less';

/* Theme commons
-------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}


/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */

/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);

/* Colors */
@black: #000000;
@white: #ffffff;
@red: #94060B;
@blue: #2B7BCB;
@orange: #FFB12A;

/* Class */
.no-margin{margin: 0;}.no-margint{margin-top: 0px;}.no-marginb{margin-bottom: 0px;}
.margint5{margin-top: (@5);}.margint10{margin-top: (@10);}.margint15{margin-top: (@15);}.margint20{margin-top: (@20);}.margint25{margin-top: (@25);}.margint30{margin-top: (@30);}
.marginb5{margin-bottom: (@5);}.marginb10{margin-bottom: (@10);}.marginb15{margin-bottom: (@15);}.marginb20{margin-bottom: (@20);}.marginb25{margin-bottom: (@25);}.marginb30{margin-bottom: (@30);}
.no-padding{padding: 0;}.no-paddingt{padding-top: 0px;}.no-paddingb{padding-bottom: 0px;}.no-paddingl{padding-left: 0px;}.no-paddingr{padding-right: 0px;}
.paddingt5{padding-top: (@5);}.paddingt10{padding-top: (@10);}.paddingt15{padding-top: (@15);}.paddingt20{padding-top: (@20);}.paddingt25{padding-top: (@25);}.paddingt30{padding-top: (@30);}
.paddingb5{padding-bottom: (@5);}.paddingb10{padding-bottom: (@10);}.paddingb15{padding-bottom: (@15);}.paddingb20{padding-bottom: (@20);}.paddingb25{padding-bottom: (@25);}.paddingb30{padding-bottom: (@30);}
.marginr30{margin-right: @30}
.margint40{margin-top: @30 + @10}
/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
html, body{
    height: 100%;
}

body{
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
}

a{
    .transition(all .2s ease-in-out);
    &:hover{
        text-decoration:none;
    }
}

/* --------------------------------------------------------------
HEADER SETTINGS
-------------------------------------------------------------- */
.the-hero{
    color: @white;
    overflow: hidden; // added for pseudo-element
    position: relative; // added for pseudo-element
    height: 92.5vh;
    padding-top: 25px;
    text-align: center;
    & h1{
        font-size: 75px;
        font-weight: 500;
        margin-bottom: 0px;
        text-shadow: 2px 1px 6px black;
    }
    & h2{
        font-size: 40px;
        font-weight: 100;
        margin-top: 0px;
        text-shadow: 2px 1px 6px black;
    }
    & img{
        display: inline-block;
    }
    // Fixed-position background image
    &::before {
        content: ' ';
        position: fixed; // instead of background-attachment
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
        background: url('../images/bg.jpg') no-repeat bottom center;
        background-size: cover;
        will-change: transform; // creates a new paint layer
        z-index: -1;
    }
}
.the-single-header{
    background: url('../images/bg.jpg') no-repeat bottom center;
    background-attachment: fixed;
    background-size: cover;
    color: @white;
    & h1{
        font-size: 75px;
        font-weight: 500;
        margin-bottom: 0px;
        text-shadow: 2px 1px 6px black;
    }
    & h2{
        font-size: 40px;
        font-weight: 100;
        margin-top: 0px;
        text-shadow: 2px 1px 6px black;
    }
}
.the-navbar{
    z-index: 1;
    .navbar-default{
        background-color: @red;
        background-image: none;
        border-radius: 0px;
        border: 0px;
        box-shadow: 0px 0px 0px transparent;
        margin-bottom: 0px;
    }
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    & li {
        padding-left: 5px;
        padding-right: 5px;
        font-weight: 100;
        font-size: 23px;
        & a {
            color: @white;
            &:hover {
                color: #B5B5B5;
            }
        }
    }
}

.navbar .navbar-collapse {
    text-align: center;
}
#sticker {
    width: 100%;
    z-index: 999;
}


.the-resume{
    z-index: 1;
    background: #59595D;
    color: #DFDFDF;
    line-height: 40px;
    box-shadow: inset 0px -8px 30px #201f1f;
    height: auto;
    overflow: hidden;
    font-size: 25px;
    text-align: justify;
    & h2{
        font-size: 30px;
        text-shadow: 1px 2px 12px black;
        padding-bottom: 15px;
    }
}
.profile-text {
    position: relative;
    line-height: 30px;
    font-size: 22px;
    text-align: justify;
    font-style: italic;
    &::before {
        content: '"';
        font-weight: 600;
        font-size: 50px;
        position: absolute;
        left: -30px;
        top: 5px;
    }
    &::after {
        content: '"';
        font-weight: 600;
        font-size: 50px;
        position: absolute;
        right: -20px;
        bottom: -5px;
    }
}
.the-services{
    color: @white;
    overflow: hidden; // added for pseudo-element
    position: relative; // added for pseudo-element
    height: auto;
    text-align: center;
    z-index: 0;
    padding-bottom: 20px;
    &::before {
        content: ' ';
        position: fixed; // instead of background-attachment
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: white;
        background: url('../images/services.jpg') no-repeat bottom center;
        background-size: cover;
        will-change: transform; // creates a new paint layer
        z-index: -2;
    }
}

.services-item {
    height: 280px;
    font-size: 18px;
    & hr {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}
.service-icon {
    fill: white;
}
.services-item-1 {
    border-right: 1px solid @white;
    border-bottom: 1px dotted @white;
}
.services-item-2 {
    border-right: 1px solid @white;
    border-bottom: 1px dotted @white;
}
.services-item-3 {
    border-bottom: 1px dotted @white;
}
.services-item-4 {
    border-right: 1px solid @white;
}
.services-item-5 {
    border-right: 1px solid @white;
}



.portfolio-section{
    background: #dedede;
    min-height: 100vh;
    height: auto;
    padding-bottom: 20px;
    box-shadow: inset 0px 8px 30px #201f1f;
}
.portfolio-text {
    position: relative;
    width: 100%;
    z-index: 15;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-top: 3%;
    & h1 {
        font-size: 75px;
        font-weight: 100;
    }
    & h2 {
        font-size: 50px;
    }
}
.portfolio-title {
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid black;
}
.filter {
    text-align: center;
    font-size: 20px;
    padding-bottom: 50px;
}
.filter button {
    background: transparent;
    border: 0px;
    padding-right: 50px;
    padding-left: 50px;
}
.portfolio-mask {
    position: absolute;
    padding: 10px;
    height: 100%;
    width: 100%;
    background: black;
    top: 0px;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    left: 0px;
    opacity: 0;
    color: #FFF;
    .transition(all .2s ease-in-out);
    &:hover {
        .transition(all .2s ease-in-out);
        opacity: 0.9;
    }
}
.portfolio-img {
    position: relative;
}
.portfolio-item {

    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    height: 300px;
    & img {
        max-height: 250px;
    }
}
.portfolio-item > img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.portfolio-item > img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#portafolio-container {
    height: 80%;
}



.references-section {
    height: auto;
    color: #FFF;
    padding-bottom: 60px;
    background-color: #000;
}
.references-item {
    width: 100% !important;
}
.reference-photo {
    & img {
        border-radius: 100%;
        border: 5px solid white;
    }
}
.reference-info {
    text-align: justify;
}
.reference-name{
    font-size: 27px;
    font-weight: 900;
}
.reference-work{
    font-size: 20px;
    font-weight: 100;
}
.reference-desc{
    font-size: 21px;
    font-weight: 400;
    font-style: italic;
}


.blog-section {
    background: #FFF;
    padding-bottom: 50px;
    height: auto;
    min-height: 100vh;
}
.blog-item{
    .transition(all .2s ease-in-out);
    margin-bottom: 10px;
    &:hover .blog-item-text {
        background-color: black;
        color: #FFF;
    }
    &:hover .blog-title{
        .transition(all .2s ease-in-out);
        color: #DF0009;
    }
    &:hover .blog-category {
        & a{
            .transition(all .2s ease-in-out);
            color: #FFF;
        }
    }
    &:hover .blog-img-mask{
        opacity: 0.6;
    }
}
.blog-img {
    position: relative;
    & img{
        height: auto;
        width: 100%;
        box-shadow: -2px 3px 15px black;
        border: 1px solid rgba(0, 0, 0, 0.44);
    }
}
.blog-img-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.blog-item-text {
    width: 85%;

    left: 7.5%;
    padding: 12px;
    position: absolute;
    bottom: 30px;
    background-color: rgb(244, 244, 244);
    box-shadow: 2px 2px 12px black;
}
.blog-category {
    font-weight: 100;
    font-size: 20px;
    & a{
        color: #DF0009;
    }
}
.blog-title{
    color: #2D2D2D;
}
.parallax-image {

    position: relative;
    background-attachment: fixed !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    height: 450px;
    background-position: center !important;
    box-shadow: 2px 2px 15px black;
}
.parallax-text {
    position: absolute;
    bottom: 0px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-top: 1px solid rgb(73, 72, 72);
    border-left: 1px solid rgb(73, 72, 72);
    border-right: 1px solid rgb(73, 72, 72);
    left: 25%;
    background: rgba(0, 0, 0, 0.61);
    color: #FFF;
}
.the-post {
    font-size: 22px;
    line-height: 45px;
    padding-top: 20px;
    padding-bottom: 25px;
}
.contact-section{
    min-height: 100%;
    padding-bottom: 110px;
    height: auto;
    color: #FFF;
    background-color: #000;
}
.wp-caption {
    text-align: center;
    border: 0px;
    border-radius: 0;
    & img{
        width: 100%;
    }
}
.wp-caption-text {
    background-color: #E6E6E6;
    font-weight: 100;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {
    float: left;
}

.alignright {
    float: right;
}
.the-cat a {
    background-color: rgb(148, 6, 11);
    padding: 5px 5px;
    color: #FFF;
    font-size: 25px;
}
.the-footer {
    background: #171717;
    color: #FEFEFE;
    padding-top: 25px;
    height: 190px;
}

.footer-icons {
    display: inline-block;
    text-align: center;
    & .social-sprites{
        display: inline-block;
        text-align: center;
        float: none;
    }
}



.formError {
    display: none !important;
}
.formError {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.formError + input,
.formError + textarea,
.formError + select {
    background: rgba(255, 0, 0, 0.5) !important;
    -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, 0.5) !important;
    -moz-box-shadow: 0 0 5px rgba(255, 0, 0, 0.5) !important;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5) !important;
    border: solid 1px rgba(255, 0, 0, 0.5) !important;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: shake;
    animation-name: shake;
}
.formError + input:focus {
    background: rgba(255, 0, 0, 0.5) !important;
    -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, 0.5) !important;
    -moz-box-shadow: 0 0 5px rgba(255, 0, 0, 0.5) !important;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5) !important;
    border: solid 1px rgba(255, 0, 0, 0.5) !important;
}
@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}


.social-sprites{
    float: left;
    width: 64px;
    height: 64px;
    margin-right: 10px;
    margin-top: 15px;
    background: url(../images/social-sprites.png) no-repeat;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    &:active {
        -webkit-transform: scale3d(0.9, 0.9, 1);
    }
}
.social-sprites-fb {
    background-position-x: 0px;
}
.social-sprites-tw {
    background-position-x: -64px;
}
.social-sprites-yt {
    background-position-x: -128px;
}
.social-sprites-inst {
    background-position-x: -384px;
}
.social-sprites-link {
    background-position-x: -192px;
}
.social-sprites-be {
    background-position-x: -448px;
}
.social-sprites-gh {
    background-position-x: -640px;
}
.social-sprites-sk {
    background-position-x: -256px;
}
.social-sprites-gp {
    background-position-x: -320px;
}
.social-sprites-pin {
    background-position-x: -512px;
}
.social-sprites-sound {
    background-position-x: -576px;
}
