/*!GENERAL MEDIAQUERIES STYLE */
@media (max-width: 991px) {
    .services-item {
        border: 0px;
        border-bottom: 1px dotted #ffffff !important;
    }
    .wp-caption {
        width: 100% !important;
        height: auto;
        & img{
            width: 100%;
            height: auto;
        }
    }
    .parallax-text {
        width: 100%;
        left: 0%;
    }
    #sticker-sticky-wrapper{
        display: none;
    }

}

@media (max-width: 768px) {

    .profile-text::before {
        content: '';
    }
    .profile-text::after {
        content: '';
    }
}


@media (max-width: 414px) {
    .landing-name {
        font-size: 50px;
    }
    .landing-desc {
        font-size: 35px;
    }
    .profile-question {
        font-size: 25px;
    }
    .services-item {
        height: auto;
        padding-left: 10px;
        font-size: 18px;
        line-height: 28px;
        padding-right: 8px;
    }
    .service-icon {
        margin: -15px;
        margin-right: 0px;
    }

    .portfolio-mask {
        font-size: 16px;
    }
    .section-title {
        font-size: 30px !important;
        padding-bottom: 15px;
    }
    .section-desc {
        font-size: 15px !important;
    }
    .the-footer {
        background: #171717;
        color: #FEFEFE;
        padding-top: 10px;
        padding-bottom: 25px;
        height: auto;
    }
    .reference-photo img {
        width: 100%;
    }
    .reference-desc {
        font-size: 15px;
    }
    .landing-img img {
        width: 70%;
    }


}




@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

}
